# Data Types

In [1]:
type(12)

int

In [2]:
type(-12)

int

In [3]:
type(10 + 11.5)

float

In [4]:
type(3 + 12j)

complex

In [9]:
#Boolean

type(True)
type(False)

bool

# STRINGS

In [ ]:
# stores one value with multiple characters

In [10]:
#Strings - representing UICODE characters, '',"", """

'Single Quotes'

'Single Quotes'

In [11]:
'Double Quotes'

'Double Quotes'

In [14]:
multi_line = """
hey! its me
remember , vanshika
your friend.

"""

print(multi_line)

hey! its me
remember , vanshika
your friend.

In [26]:
#'I've to go.'
"I've to go."
"I've to go to meet 'Miss. VANSHIKA TANWAR' "
#"I've to go to meet "Miss. VANSHIKA TANWAR" "

example = """I've to go to meet 
"Miss. VANSHIKA TANWAR". """

print(example)

I've to go to meet
"Miss. VANSHIKA TANWAR".

In [35]:
#indexing

x = "Hello World!"

In [36]:
print(x[2:5])

llo

In [37]:
x*3 #REPLICATION IN STRING

'Hello World!Hello World!Hello World!'

In [41]:
x + " " + x  #CONCATENATION

'Hello World! Hello World!'

# LISTS

In [ ]:
# They store multiple separate values.
# uses '[]' brackets.
# can stores different datatypes in list or nested lists

In [42]:
[1,2,3]

[1, 2, 3]

In [43]:
["Vansh" , 'khana' , 'deep']

['Vansh', 'khana', 'deep']

In [44]:
[1 , 'hey' , "vanshika" , [2 , 'there' , "pretty"] , True]

[1, 'hey', 'vanshika', [2, 'there', 'pretty'], True]

In [46]:

#lists are changeable i.e. MUTABLE once created can be modified , updated and deleted
names = ["Vanshika", "Vedant" , "Mansi"]
print(names)
names.append("Deep")
print(names)

['Vanshika', 'Vedant', 'Mansi']
['Vanshika', 'Vedant', 'Mansi', 'Deep']

In [47]:
names[0] = "Vanu"
print(names)

['Vanu', 'Vedant', 'Mansi', 'Deep']

In [51]:
lists = [1 , 'hey' , "vanshika" , [2 , 'there' , "pretty"] , True]
print(lists[2])
print(lists[3])
print(lists[3][2])

vanshika
[2, 'there', 'pretty']
pretty

# TUPLE

In [ ]:
# They are IMMUTABLE in nature i.e can not be changed  after its created.
# uses '()' brackets.

In [52]:
tuple_name = (1,2,3,4,1,2)
print(tuple_name)

(1, 2, 3, 4, 1, 2)

In [53]:
type(tuple_name)

tuple

In [54]:
tuple_name.append(1)

AttributeError: 'tuple' object has no attribute 'append'

# SETS

In [ ]:
#They are similar to lists and tuple but CANNOT stores DUPLICATE values.
#values inside the set is not accessed by indexing as they are arranged in UNORDERED.
# returns only Unique values.
# uses '{}' brackets

In [55]:
set_values = {1,2,3,4}
print(set_values)

{1, 2, 3, 4}

In [58]:
set_data = {1, "bob", "bob",2,3,4,2,3}
print(set_data)

{1, 2, 3, 4, 'bob'}

In [59]:
type(set_data)

set

In [60]:
set_dairy1 = {1,2,3,4,2,32,1,4,5,3,12,5}

print(set_dairy1)

set_dairy2 = {0,1,2,3,4,5,31,4,2,1,24,2}

print(set_dairy2)

{32, 1, 2, 3, 4, 5, 12}
{0, 1, 2, 3, 4, 5, 24, 31}

In [66]:
# OPERATIONS

print(set_dairy1 | set_dairy2)    #combine unique values

print(set_dairy1 & set_dairy2)    #common in two sets

print(set_dairy1 - set_dairy2)    # A - B = A only

print(set_dairy2 - set_dairy1)    # B - A = B only

print(set_dairy1 ^ set_dairy2)    #the value is either in one or other but not in both

{32, 1, 2, 3, 4, 5, 0, 12, 24, 31}
{1, 2, 3, 4, 5}
{32, 12}
{0, 24, 31}
{0, 32, 12, 24, 31}

# DICTIONARY

In [ ]:
#Key/Value pairs
# {key : value}
# it  is also MUTABLE in nature
# there is not INDEXING feature in dictionary
# we call it by [keys].

In [67]:
dict_data = {'name' : 'Vanshika', 'age' : 21, 'ice_cream' : ['rasberry', 'mangodoli', 'chocofills']}
print(dict_data)

{'name': 'Vanshika', 'age': 21, 'ice_cream': ['rasberry', 'mangodoli', 'chocofills']}

In [68]:
type(dict_data)

dict

In [70]:
dict_data.values()

dict_values(['Vanshika', 21, ['rasberry', 'mangodoli', 'chocofills']])

In [71]:
dict_data.keys()

dict_keys(['name', 'age', 'ice_cream'])

In [72]:
dict_data.items()

dict_items([('name', 'Vanshika'), ('age', 21), ('ice_cream', ['rasberry', 'mangodoli', 'chocofills'])])

In [78]:
dict_data['ice_cream']

['rasberry', 'mangodoli', 'chocofills']

In [81]:
dict_data['age'] = 20
print(dict_data)

{'name': 'Vanshika', 'age': 20, 'ice_cream': ['rasberry', 'mangodoli', 'chocofills']}

In [84]:
# UPDATE - it can add the new value into the dict and update the existing one

dict_data.update({'name' : 'Vanshika', 'age' : 20, 'ice_cream' : ['rasberry', 'mangodoli', 'cone'], 'gender' : 'Female'})
print(dict_data)

{'name': 'Vanshika', 'age': 20, 'ice_cream': ['rasberry', 'mangodoli', 'cone'], 'gender': 'Female'}

In [88]:
# DELECT - the keys of the dict
del dict_data['gender']
print(dict_data)

{'name': 'Vanshika', 'age': 20, 'ice_cream': ['rasberry', 'mangodoli', 'cone']}