# FOR Loops|

In [16]:
# for loops - is used to iterate over a sequence 
# which could be any string, array , list, tuple, dict

In [17]:
integer = [1,2,3,4,5]

In [18]:
for num in integer:
    print(num)

1
2
3
4
5

In [19]:
for jer in integer:
    print(jer + jer)

2
4
6
8
10

In [20]:
# For loops in Dictionaries

In [21]:
dict_data = {'name' : "vanshika", 'age' : 21, 'gender' : 'female' , 'ice_cream' : "['rasberry', 'mangodoli', 'chocos']"}
print(dict_data)

{'name': 'vanshika', 'age': 21, 'gender': 'female', 'ice_cream': "['rasberry', 'mangodoli', 'chocos']"}

In [22]:
for i in dict_data.values():
    print(i)

vanshika
21
female
['rasberry', 'mangodoli', 'chocos']

In [23]:
for j in dict_data.keys():
    print(j)

name
age
gender
ice_cream

In [24]:
# i = keys
# j = values

for i, j in dict_data.items():
    print(i, ':', j)

name : vanshika
age : 21
gender : female
ice_cream : ['rasberry', 'mangodoli', 'chocos']

# NESTED For loops

In [32]:
age = [20,18,19,21,22]
name = ['bob','jer','joy','henry','roy']

In [38]:
for i in name:
    for j in age :
        print(i,"age is",j)

bob age is 20
bob age is 18
bob age is 19
bob age is 21
bob age is 22
jer age is 20
jer age is 18
jer age is 19
jer age is 21
jer age is 22
joy age is 20
joy age is 18
joy age is 19
joy age is 21
joy age is 22
henry age is 20
henry age is 18
henry age is 19
henry age is 21
henry age is 22
roy age is 20
roy age is 18
roy age is 19
roy age is 21
roy age is 22